extends layout

block content
  h1.edenia-title Edenia NFT Generator
  .edenia-buttons
    button.btn.btn-primary.rounded-pill.edenia-generate#edenia-generate Generate Edenia
    button.btn.btn-primary.rounded-pill.edenia-generate#edenia-erase Erase Canvas
    button.btn.btn-primary.rounded-pill.edenia-generate#edenia-about About
  .edenia-canvas
    .edenia-result
      img.edenia-output#edenia-hat(src="" )
      img.edenia-output#edenia-sword(src="")
      img.edenia-output#edenia-shoes(src="")
      img.edenia-output#edenia-body(src="")
      img.edenia-output#edenia-eyes(src="")
      img.edenia-output#edenia-mouth(src="")
