doctype html
html
  head
    title Edenia NFT Generator
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    block content
    script(src="/js/bootstrap.min.js")
    script(src="/js/main.js")
